body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}
.logo h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.logo p {
    margin: 0;
    font-size: 12px;
    color: #777;
}
nav {
    flex-grow: 1;
}
nav ul {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
.hero h2, .hero p {
    color: white;
  }
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo-text h1, .logo-text p {
    margin: 0;
}
.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}